/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
TODO.md
.ropeproject/
bin/ops.vars
TODO.org
resources/production-config.edn
marissa_dev.db.mv.db
log/marissa.log
marissa_test.db.mv.db
